body {
    background: #e0c3fc;
    background: linear-gradient(315deg, #e0c3fc 0%, #8ec5fc 74%);
    font-family: 'Poppins', sans-serif;
}
form {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    max-width: 450px;
    margin: 50px auto;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #6a11cb;
}
input, button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
}
button {
    background: #6a11cb;
    background: linear-gradient(315deg, #6a11cb 0%, #2575fc 74%);
    color: white;
    border: none;
}
button:hover {
    opacity: 0.9;
}
