body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 80%;
    margin: 30px auto;
}
ul {
    margin-top: 20px;
}
li {
    background: #dff9fb;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}
a {
    color: #eb4d4b;
    margin-left: 10px;
}
a:hover {
    color: #c0392b;
}
